@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
h1,h2,h3,h4,h5,h6,div,p,span,pre,li,td,b {
        font-family: 'Nanum Gothic', serif;
}

/* web font config must here*/
body
{
    font-family:'Nanum Gothic', serif;
    line-height:1.2em;
}


/* make h1/h2 font bold */
#com-atlassian-confluence h1,
#com-atlassian-confluence h2,
#com-atlassian-confluence h5,
#com-atlassian-confluence h6 {
    font-family: 'Nanum Gothic', serif;
    font-weight : bold;
}

/* control detail padding & size & effect */
/* title big*/
.wiki-content h1 { padding:3px 6px 6px 6px; border-top: 3px solid #aeaeae; background: #eeeeee; font-size: 26px; }
/* title sub line or background */
.wiki-content h2 { padding-left: 6px;    border-bottom: 4px solid #bfbfbf; font-size: 22px; }
.wiki-content h3 { padding-left: 6px;    border-bottom: 4px;               background: #dfdfe0; font-size: 22px; }
/* sub title */
.wiki-content h4 { padding-left: 6px;    border-bottom:   2;               font-size: 20px; }
.wiki-content h5 { padding-left: 6px;    border-bottom:   0;               font-size: 18px; }

/* text bold */
.wiki-content h6 { padding-left: 6px;    border-bottom:   0;               font-size: 16px; }


    /***************************************************
     * ** CONFLUENCE HEADER
     * ***************************************************/
/* remove header, footer
 * #header, #footer
 * {
 * display:none !important;
 * }
 * */

#header
{
    height:0  !important;
}


/* remove header */
#browse-menu-link,
#user-menu-link,
#action-menu-link,
#add-menu-link,
#shareContentLink,
#editPageLink,
{
    display:none !important;
}

/* remove header from confluence5.0 */
#space-directory-link,
#people-directory-link,
#create-page-button
{
    display:none !important;
}

/* remove header from others
 * #space-list-section 
 * #entity-list-section 
 * #global-spaces-section
 * {
 * display:none !important;
 * }
 * */

/* remove footer */
#footer
{
    display:none !important;
}

/* remove content add-on*/
#comments-section,
#labels-section,
#likes-section,
#likes-and-labels-container,
.page-metadata-modification-info,
#children-section
{
    display:none !important;
}

/***************************************************
 * ** THEME HEADER & FOOTER
 * ** (e.g. info panel used for doc versions) 
 * ***************************************************/
/* remove theme-header&footer and commercial advertizements*/
#theme-header, 
#theme-footer 
{
    display:none !important;
}


/* remove main-header including these
 * #breadcrumb-section
 * People/JK Kim/JK Kim’s Home/100. Tools for Development 
 * #title-text 
 * 250. Shell
 * .page-metadata 
 * Created by JK Kim, last modified on Jan 13, 2015
 * */
#main-header 
{
    display:none !important;
}


/***************************************************
 * ** DOC THEME SPLITTER OVERIDES 
 * ***************************************************/
/* remove sidebar*/
#splitter-sidebar
{
     width:0 !important;
}


#splitter-button,
#splitter .vsplitbar
{
     display:none !important;
}

 /***************************************************
  * ** HEADER & BODY
  * ***************************************************/
